In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
url = 'https://github.com/khala1391/DSL_Dataset/raw/main/project_1_Weather_Dataset.csv'
df = pd.read_csv( url , index_col='Date/Time', parse_dates=['Date/Time'])
df

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
Date/Time,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...
2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.rename(columns={'Dew Point Temp_C':'Dew_Point_Temp_C',\
                   'Rel Hum_%':'Rel_Hum_%',\
                   'Wind Speed_km/h':'Wind_Speed_km/h'},\
                  inplace=True)

In [6]:
df.head(5)

,Temp_C,Dew_Point_Temp_C,Rel_Hum_%,Wind_Speed_km/h,Visibility_km,Press_kPa,Weather
Date/Time,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8784 entries, 2012-01-01 00:00:00 to 2012-12-31 23:00:00
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Temp_C            8784 non-null   float64
 1   Dew_Point_Temp_C  8784 non-null   float64
 2   Rel_Hum_%         8784 non-null   int64
 3   Wind_Speed_km/h   8784 non-null   int64
 4   Visibility_km     8784 non-null   float64
 5   Press_kPa         8784 non-null   float64
 6   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(1)
memory usage: 549.0+ KB

In [ ]:
df.isna().any(axis=1).sum()

In [ ]:
df.isnull().any(axis=1).sum()

In [ ]:
df.columns

In [ ]:
df = df.astype({'Temp_C': 'float32',\
            'Dew_Point_Temp_C':'float32',\
            'Rel_Hum_%':'int32',\
            'Wind_Speed_km/h':'int32',\
            'Visibility_km':'float32',\
            'Press_kPa':'float32',\
           # 'Weather':'category'
           })

In [ ]:
df.Weather.value_counts()

In [ ]:
df.hist(figsize=(10,8), bins=40);

In [ ]:
df.describe().round(2).T

In [ ]:
df.corr(numeric_only=True).round(3).style.background_gradient(axis=1, vmin =0.5).highlight_min(axis=1, color='pink')

In [ ]:
type(df.Weather.value_counts()>100)

In [ ]:
df_cut = pd.Series.to_frame(df.Weather.value_counts()>=150, name="selected")

In [ ]:
df_cut.info()

In [ ]:
df_cut = df_cut.loc[df_cut.selected].index

In [ ]:
df_cut

In [ ]:
list = ['Mainly Clear', 'Mostly Cloudy', 'Cloudy', 'Clear', 'Snow','Rain', 'Rain Showers', 'Fog', 'Rain,Fog']

In [ ]:
df_cut = df[df['Weather'].isin(list)].copy()

In [ ]:
df_cut['Weather'].value_counts()

In [ ]:
df = df.astype({'Weather':'category'})
df.info()

In [ ]:
df['Temp_C'].resample('QE').mean().plot(kind='line');

In [ ]:
df['Temp_C'].resample('ME').mean().plot(kind='line');

In [ ]:
df['Temp_C'].resample('D').mean().plot(kind='line');

In [ ]:
df[['Temp_C', 'Dew_Point_Temp_C', 'Rel_Hum_%', 'Wind_Speed_km/h','Visibility_km', 'Press_kPa']]\
.resample('ME').mean().plot(kind='line',figsize=(12, 5) );

In [ ]:
df[['Temp_C','Dew_Point_Temp_C']].plot.density();